@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@300;400;600&display=swap');

body{
    font-family: 'Fira Sans Condensed', sans-serif;
    color: #3c3c3c;
    width: 960px;
    margin: auto;
}

header{
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

    header a{
        text-decoration: none; /* quitar subrayado */
        color: #3c3c3c;
        font-size: 20px;
    }

    header a img{
        vertical-align: middle;
        margin-left: 12px;
        margin-right: 12px;
    }

    header nav a{
        margin: 8px;
    }

/* hero banner */
#hero-banner{
    height: 450px;
    background-image: url(../imgs/playa.jpg);
    background-size: cover;
    background-position: center center;

    display: flex;
    align-items: center;
}
    #hero-banner h1{
        font-size: 32px;
        font-weight: normal;
        color: #fff;
        margin-left: 132px;
        width: 274px;
    }

/* sección promos */

#promos{
    height: 400px;
    margin-top: 52px;
    background-color: #FAF0E9;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
    #promos article{
        width: 256px;
        /* background-color: #ffffff; */
    }
        #promos a{
            text-decoration: none;
            color: #3c3c3c;
            transition: .5s;
        }
        #promos a:hover{
            color: #D26137;
            background-color: #fff;
            box-shadow: 0 0 12px #c1a48f;
        }

        #promos article h2{
            font-size: 400;
            font-size: 16px;
            margin: 12px;
        }
        #promos article p{
            font-weight: 300;
            margin: 12px;
        }