@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@300;400;600&display=swap');

body{
    font-family: 'Fira Sans Condensed', sans-serif;
    color: #3c3c3c;
    width: 960px;
    margin: auto;
}

header{
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

    header a{
        text-decoration: none; /* quitar subrayado */
        color: #3c3c3c;
        font-size: 20px;
    }

    header a img{
        vertical-align: middle;
        margin-left: 12px;
        margin-right: 12px;
    }

    header nav a{
        margin: 8px;
    }

/* hero banner */
#hero-banner{
    height: 450px;
    background-image: url(../imgs/playa.jpg);
    background-size: cover;
    background-position: center center;

    display: flex;
    align-items: center;
}
    #hero-banner h1{
        font-size: 32px;
        font-weight: normal;
        color: #fff;
        margin-left: 132px;
        width: 274px;
    }

/* sección promos */

#promos{
    height: 400px;
    margin-top: 52px;
    background-color: #FAF0E9;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
    #promos article{
        width: 256px;
        /* background-color: #ffffff; */
    }
        #promos a{
            text-decoration: none;
            color: #3c3c3c;
            transition: .5s;
        }
        #promos a:hover{
            color: #D26137;
            background-color: #fff;
            box-shadow: 0 0 12px #c1a48f;
        }

        #promos article h2{
            font-size: 400;
            font-size: 16px;
            margin: 12px;
        }
        #promos article p{
            font-weight: 300;
            margin: 12px;
        }

/* sección servicios */
#servicios{
    width: 680px;
    margin: 52px auto 0px auto;

    display: flex;
    flex-wrap: wrap; /* respeta los anchos */
    column-gap: 96px;
    row-gap: 32px;
}
    #servicios h2{
        width: 100%;
        text-align: center;
        font-weight: 400;
    }

    #servicios a{
        text-decoration: none;
        color: #3c3c3c;
        width: 160px;
        height: 140px;
        display: block; /* convertimos a elemento de bloque 
                            para que acepte ancho y altura */
        border: 1px solid #3c3c3c;
        border-radius: 12px;
        text-align: center;
        transition: 500ms;
    }
    #servicios a:hover{
        color: #fff;
        background-color: #3c3c3c;
    }

        .fa-solid, .fa-brands{
            font-size: 56px;
            margin: 20px 52px 20px 52px;
        }

/* footer */
footer{
    height: 160px;
    margin-top: 52px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3c3c3c;
}
    footer a{
        color: #fff;
        text-decoration: none;
    }
        footer a img{
            vertical-align: middle;   
            margin: 0px 8px 0px 12px;         
        }

        footer div{
            margin-right: 12px;
        }
        footer .fa-brands{
            font-size: 24px;
            margin: 0px 8px 0px 8px;
        }